In [13]:
import numpy as np
import pandas as pd #CSV files
import random
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_palette('husl')
iris = pd.read_csv('Iris.csv')

In [14]:
class DataProcessing:
    @staticmethod
    def shuffle(X):
        for i in range(len(X)-1, 0, -1):
            tmp = random.randint(0, i+1)
            X.iloc[i], X.iloc[tmp] = X.iloc[tmp], X.iloc[i]
        return X
    
    @staticmethod
    def normalize(X):
        #(x-min)/(max-min)
        #do zrobienia dla ka≈ºdej kolumny
        Z=X.copy()
        values = X.select_dtypes(exclude="object")
        columnNames = values.columns.tolist()
        for i in columnNames:
            d = Z.loc[:, i]
            maxi = max(d)
            mini = min(d)
            diff = maxi - mini
            for j in range(0, len(Z), 1):
                Z.at[j, i] = (Z.at[j, i] - mini) / diff
        return Z
    @staticmethod
    def splitSets(X):
        split = int(len(X)*0.7)
        Z = X.iloc[:split, :]
        Y = X.iloc[split:, :]
        return Z, Y

In [15]:
P = DataProcessing.normalize(iris)
P = DataProcessing.shuffle(P)
T, W = DataProcessing.splitSets(P)
P.head()

   sepal.length  sepal.width  petal.length  petal.width     variety
0      0.194444     0.666667      0.067797     0.041667      Setosa
1      0.194444     0.583333      0.101695     0.125000      Setosa
2      0.166667     0.208333      0.593220     0.666667   Virginica
3      0.666667     0.458333      0.576271     0.541667  Versicolor
4      0.500000     0.333333      0.627119     0.458333  Versicolor

In [16]:
class NaiveBayes:
    @staticmethod
    def gauss(x, mean, std):
        exponent = np.exp(-(x-mean)**2/(2*std**2))
        return 1/(np.sqrt(2*np.pi*std**2))*exponent
    
    @staticmethod
    def classify(T, sample):
        maxi = -1
        name = ""
        Sorted = T.groupby(T.columns[-1])
        names = list(Sorted.groups.keys())
        atr = list(Sorted.mean())
        print(Sorted.mean())
        average = Sorted.mean()
        std = Sorted.std()
        for every in names:
            aktual = 1/len(names)
            for i in atr:
                aktual = aktual*NaiveBayes.gauss(sample[atr.index(i)], average[i][every], std[i][every])
            if aktual > maxi:
                name = every
                maxi = aktual
        return name

In [17]:
# przypadkowe dane
df = [5, 2.3, 3.9, 1.4]
print(NaiveBayes.classify(T, df))

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa          0.198925     0.591398      0.086386     0.053763
Versicolor      0.455556     0.330208      0.556780     0.522917
Virginica       0.640523     0.403186      0.768694     0.806373
Setosa

In [6]:
corrected = 0
for i in range(len(W)):
    tmp = list(W.iloc[i][:-1])
    if NaiveBayes.classify(T, tmp) == W.iloc[i][-1]:
        corrected += 1
accuracy = corrected/len(W)
print(accuracy)

0.9777777777777777